<fieldset data-payment-target="additionalFields" data-type="UPI">
	<h4>Enter UPI Id Details</h4>
	<div class="my-5">
		<%= form.label :upi %>
		<%= form.text_field :upi_id, class: "input-field" %>
	</div>
</fieldset>